/* Dark mode styles */
*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
/* Dark mode styles */
body.dark {
  background-color: black; /* Ubah warna latar belakang menjadi hitam */
  color: white;
}

/* Atau jika Anda ingin mengubah seluruh latar belakang elemen main menjadi hitam, tambahkan aturan ini: */
.dark main {
  background-color: black; /* Ubah warna latar belakang main menjadi hitam */
}

header.container {
  display: sticky;
  background-color: green;
  justify-content: center;
  align-items: center;
}
.isi {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #255b1e;
  justify-content: space-between;
  font-size: 20px;
}

.merek {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

ul {
  color: white;
  padding-right: 18px;
}

.navigasi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.navigasi > li {
  list-style-type: none;
  height: 85px;
  padding: 20px;
  font-size: 25px;
}

.navigasi > li > a:hover {
  color: red;
  transition: all 0.5s ease-in-out;
}

.navigasi > li > a {
  text-decoration: none;
  color: white;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark .mode input[type="checkbox"] {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 50px;
  height: 30px;
  appearance: none;
  background-color: #434343;
  border-radius: 20px;
  cursor: pointer;
}

.dark .mode input[type="checkbox"]:checked {
  background-color: #3664ff;
}

/* Dark mode styles for the ::before pseudo-element */
.dark input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: #fcfcfc;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.5s ease;
}

/* Remove transform in checked state in dark mode (use the same style as light mode) */
.dark input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}

footer {
  background-color: #255b1e;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  /* margin-top: 100px; */
}

/* main  */
main section {
  background-color: rgb(0, 0, 0);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}
main form {
  display: flex;
  flex-direction: column;
}
main label {
  font-weight: bold;
}
main input,
textarea {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

main button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
